body {
    background-color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

img {
    margin: auto;
    width: 60px;
    height: 60px;
}

.container {
    background: rgb(128, 0, 28);
    border: 2px solid black;
    width: 800px;
    min-height: 400px;
    display: inline-block;
}

#fieldForGame {
    margin: auto;
}

#start {
    margin: 24px;
}

.rows {
    margin: 10px;
    min-width: 80px;
    min-height: 50px;
}

.cells {
    margin: 10px;
    width: 60px;
    height: 60px;
    background: rgb(55, 184, 83);
    border: 2px solid black;
    display: inline-block;
    z-index: 3;
}

.shadow {
    background-color: blue;
}

.shot {
    display: none;
}